* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /*gap does the same thing as using column-gap and row-gap together*/
    justify-content: center;
    align-items:stretch;
    /* column-gap: 10px;
    row-gap: 10px; */
    /* grid-auto-rows: minmax(100px, auto); minmax() takes in a minimum and maximum value to set a range for the css attribute */
    /* grid-template-rows: repeat(3, 1fr); */
}

.item {
    background: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
}